@model IEnumerable<Core.Concrete.DTOs.Person.PersonListItemDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <button id="active-@item.Id" class="btn btn-@Html.Raw(item.Active?"success":"danger") text-light">Değiştir</button>
                </td>
                <td>
                    <button id="deleted-@item.Id" class="btn btn-@Html.Raw(item.Deleted?"success":"danger") text-light">Değiştir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("button[id^='active-']").click(function (e) {
                let id = e.target.id
                let this_element = document.getElementById(id)
                let aid = id.split('-')[1]
                $.get("/person/toggleactive/"+aid,function(data,status){
                    console.log(data)
                    if(data){
                        this_element.classList.add("btn-success")
                        this_element.classList.remove("btn-danger")
                    }else{
                        this_element.classList.remove("btn-success")
                        this_element.classList.add("btn-danger")
                    }
                })
                console.log("Active:",id)
            })
            $("button[id^='deleted-']").click(function (e) {
                let id = e.target.id
                let this_element = document.getElementById(id)
                let did = id.split('-')[1]
                $.get("/person/toggledeleted/" + did, function (data, status) {
                    console.log(data)
                    if (data) {
                        this_element.classList.add("btn-success")
                        this_element.classList.remove("btn-danger")
                    } else {
                        this_element.classList.remove("btn-success")
                        this_element.classList.add("btn-danger")
                    }
                })
                console.log("Deleted:", id)
            })
        })
    </script>
}